// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $white;
  background-color: $brand_dark_darkest;
}

svg {
  margin: 0 auto;
  display: block;
  height: 200px;
  fill: $brand_blue;
}

h1 {
  font-size: 2rem;
  display: block;
  text-transform: uppercase;
}

a {
  color: $brand_blue;
  font-weight: 600;
}

a:hover {
  color: white;
}

p {
  font-size: 1rem;
}

small {
  display: block;
  margin: 20px auto;
  font-size: 0.8rem;
}