@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Login Form **/
.form-group-login {
  @apply flex items-center rounded-r-none border-b-4 border-brand-blue-500 px-3 whitespace-no-wrap bg-white text-brand-blue-500 leading-normal;
}

.form-control-login {
  @apply relative h-14 flex-shrink flex-grow flex-auto px-3 flex-1 border-b-4 border-brand-blue-500 rounded-l-none bg-white outline-none text-brand-blue-700 leading-normal;
}

.form-btn {
  @apply block h-14 uppercase w-full mx-auto shadow px-3 bg-brand-blue-500 border-b-4 border-brand-blue-900 text-white text-xs py-3 px-10 font-semibold text-base;
}

.success-alert {
  @apply my-4 border-b-4 bg-green-100 border-green-500 text-green-500 font-medium p-2 shadow;
}

.nav-link-item {
  @apply flex items-center mr-4;
}

.text-muted {
  @apply text-gray-500 text-xs leading-normal;
}

/** Alerts **/

.error-alert {
  @apply mb-4 border-b-4 bg-brand-error-100 border-brand-error-500 text-brand-error-500 font-medium p-2 shadow;
}

.info-alert {
  @apply mb-4 border-b-4 bg-brand-info-100 border-brand-info-500 text-brand-info-500 font-medium p-2 shadow;
}

.invalid-feedback {
  @apply text-brand-error-500 font-bold text-sm;
}

/** Buttons **/

.brand-btn {
  @apply rounded-sm border-2 border-brand-blue-500 text-sm bg-brand-blue-500 text-brand-blue-100 py-2 px-6 shadow;
}

.brand-btn:hover {
  @apply bg-brand-blue-700;
}

.brand-btn-alt {
  @apply rounded-sm border-2 border-brand-error-500 text-sm bg-brand-error-500 text-brand-error-100 py-2 px-6 shadow;
}

.brand-btn-alt:hover {
  @apply bg-brand-error-600;
}

.white-btn {
  @apply rounded-sm border-2 border-white text-sm bg-white text-brand-blue-500 py-2 px-4 shadow font-bold;
}

.white-btn:hover {
  @apply bg-brand-blue-100 border-brand-blue-100;
}

.brand-btn-disabled {
  @apply bg-brand-blue-200 cursor-default border-brand-blue-200;
}

.brand-btn-disabled:hover {
  @apply bg-brand-blue-200;
}

/** Forms **/

.form-group {
  @apply px-2 mb-4;
}

.form-group-error {
  @apply text-brand-error-500 border-brand-error-500;
}

.form-label {
  @apply block tracking-wide text-sm font-bold text-gray-600 mb-2;
}

.form-control {
  @apply block w-full relative h-12 flex-shrink flex-grow flex-auto px-3 flex-1 border-b-4 border-brand-blue-400 rounded-l-none bg-brand-blue-100 outline-none text-brand-blue-900 leading-normal;
}

.form-control-error {
  @apply border-brand-error-500;
}

.is-invalid {
  @apply border-brand-error-500;
}

.form-input-error {
  @apply border-brand-error-500;
}

.form-control::placeholder {
  @apply text-brand-blue-400;
}

.form-control:focus {
  @apply border-brand-blue-900;
}

/** Sections */
.section-panel {
  @apply my-3 bg-white rounded shadow;
}

.section-row {
  @apply flex px-5 py-3 border-b-4 border-brand-blue-100;
}

.section-icon {
  @apply relative flex-shrink-0 rounded-full h-14 w-14 flex items-center justify-center bg-gray-400;
}

.material-section-icon {
  @apply text-white text-3xl;
}

.section-icon-pill {
  @apply absolute bottom-0 right-0 text-xs text-white px-2 rounded-full shadow lowercase;
}

.section-title {
  @apply text-base text-brand-blue-500 font-bold leading-tight;
}

.section-description {
  @apply mt-2 text-xs text-gray-500 leading-normal;
}

/** Table **/

.table {
  @apply text-left w-full border-collapse text-sm text-gray-800 text-xs;
}

.table-row-head {
  @apply border-b-2 border-brand-blue-500 text-brand-blue-900 font-bold text-sm;
}

.table-row:nth-child(odd)  {
  @apply bg-brand-blue-50;
}

.table-row:hover {
  @apply bg-brand-blue-100;
}

.table-cell {
  @apply border-b border-gray-300;
}

.table-cell-highlight {
  @apply font-bold text-brand-blue-500;
}

td, th {
  @apply p-1;
}

td:first-child {
  @apply font-bold text-brand-blue-900;
}

/** Misc **/

.nav-scroller {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  height: 4rem;
}

code {
  @apply text-xs text-brand-error-400 bg-brand-error-100 p-1 py-1;
}

/** Loading Animation */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 10px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

/** Custom Checkboxes **/

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  @apply bg-brand-blue-100;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  @apply bg-brand-blue-200;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  @apply bg-brand-blue-500;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 10px;
  top: 4px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}